<h1> <%= current_user.first_name %>'s Lists</h1>

<ul>
    <% if current_user.lists.present? %>
        <% current_user.lists.each do |list| %>
            <% if list.status == 'default' %>
                <li><%= link_to list.name, list_path(list) %> (default)</li>
            <% else %>
                <li><%= link_to list.name, list_path(list) %> (personal)</li>
            <% end %>
        <% end %>
        <% else %>
            <p>No Lists Found</p>
    <%end%>
</ul>
<br>


<%= link_to "Add New List", new_list_path, class:"btn btn-primary" %>
    