.user-status {
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-header {
    width:50%;
    margin: auto;
}

.info-message {
    background-color: white;
    border: 1px black;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 75%;
    margin:auto;
}
.footer-text {
    margin-bottom: 10px;
}

.hero-image {
    background: url("https://ebookfriendly.com/wp-content/uploads/2013/10/Tablet-book-wallpapers-Google-library.jpeg" ) no-repeat center; 
    background-size: cover;
    height: 500px;
    position: sticky;
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
}