.list-container, .book-container {
    background-color: white;
    padding:15px;
    border-radius: 15px;
    width: 60%;
    margin: auto;
}

.list-container:hover {
    background-color: rgb(255, 250, 230);
}